*{
    padding:0;
    margin :0;
    font-family:cursive;
    
}

.main{
    width:100%;
    background-image: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%) ;
    background-size: 100%;
}

.header{
    height:100px;
    font-size:20px;
    
}

.header-slogan{
    line-height: 100px;
    text-align: center;
    color:#0c1c38;
}

.header2{
    text-align: center;
    height:120px;
    color:#192763;
}

.header2-slogan{
    font-size:30px;
    margin:30px 0 30px;
}

.header2-search{
    display: flex;
    justify-content: space-around;
    margin-top : 20px;
    color:#fff;
}

.search-note{
    font-size: 20px;
}

.search-block{
    
}

.search-input{
    height:24px;
    width:400px;
    border-radius: 14px;
    padding-left:20px;
    margin-right:-78px;
    outline: none;
}

.search-btn{
    height:22px;
    width:70px;
    z-index: 1;
    border-radius: 10px;
}

.body{
    display:flex;
    justify-content: space-around;
}
/* css phần thân trái */
.body-left, .body-right{
    margin:10px 30px 30px;
    padding:5px 20px;
    text-align: center;
    flex:1;
    border-radius:20px;
    box-shadow: 0 0 10px #ccc;
    color:#0c1c38;
}

.body-left{
    background-image: linear-gradient( -90deg,  #fa3c3c , #fcb045 ) ;
}

.body-heading{
    font-size: 26px;
    padding:30px;
}

.body-left-list{
   
}

.body-left-item{
    display:flex;
    margin:28px 0;
}

.item-img{
    border-radius:50%;
    width:50px;
    height:50px
}

.item-info{
    margin:0px 12px;
    min-width:190px;
    text-align: left;
}

.item-song-name{
    text-decoration: none;
}

.item-song-singer{

}

audio{
    height:45px;
}



/* css phàn thân phải */

.body-right{
    background-image: linear-gradient(-90deg, #833ab4 0%, #f83b3b ) ;
}

.video-list{
    padding:0px 20px;
}

.video-item{
    padding:20px 0px;
}

.item-video{
    width:100%;
    height:300px;
    padding-bottom:10px;
}

.item-content{
    color:#ccc;
    font-size:20px;
}

.item-author{
    font-size:18px;
}

/* CSS FOOTER    */

.footer{
    text-align:center;
}

.footer-logo{
    width:160px;
    border-radius: 50%;
    margin-top:28px;
}

.footer-email{
    margin:16px 0;
    font-size:20px;
    text-decoration: none;
    color:#0c1c38;
}

.footer-slogan{
    font-size:28px;
    color:#0c1c38;
    padding:10px 0;
}

